[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/HeinHtetZawNeo/alpha-online-shopping-api-gateway.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/HeinHtetZawNeo/alpha-online-shopping-usrsvc.git
[submodule "AlphaOls_ApiGateway"]
	path = AlphaOls_ApiGateway
	url = https://github.com/HeinHtetZawNeo/alpha-online-shopping-api-gateway.git
[submodule "AlphaOls_UsrSvc"]
	path = AlphaOls_UsrSvc
	url = https://github.com/HeinHtetZawNeo/alpha-online-shopping-usrsvc.git
[submodule "AlphaOls_GatewayDiscoveryService"]
	path = AlphaOls_GatewayDiscoveryService
	url = https://github.com/HeinHtetZawNeo/alpha-online-shopping-gateway-discovery-service.git
